body { padding-top: 50px; }

.bg-grey{
    background-color: #171616 !important;

}

.color-white{
    color: white !important;
}
.pos-f{
    position: fixed !important;
}
.pd-bot{
    padding-bottom: 56px;
}
.shadow-box{
    -webkit-box-shadow: 0px 0px 39px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 39px 11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 39px 11px rgba(0,0,0,0.75);
}
.shadow-boxL{
    -webkit-box-shadow: 0px 0px 84px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 84px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 84px -5px rgba(0,0,0,0.75);
}
.bg-img{
    background-image: url(../imagens/background.jpg);
}
.footer{
    bottom: 0px;
}
.Loja{
    color: white;
    text-align: center;
    font-size: 30pt;
    margin-top: 50px;
}
.mg-top{
    margin-top: 18px;  
}
.mg-bot{
    margin-bottom: 18px;  
}
.btn:active{
    box-shadow: none !important;
}
.btn.lojas:active{
    background-color: #8cdd57 !important;
    border-color: inherit !important;
    box-shadow: none !important;
}
hr.style13 {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


hr.style14 { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
#LojasR{
    font-size: 20pt;
    color: #333333;
}
.bb-white{
    border-bottom: white !important;
}
.bt-white{
    border-top: white !important;
}
.link-nós{
    text-decoration: none;
    color: white;
    font-size: 65pt;
    text-align: center;
    text-shadow: 0px 0px 16px rgba(0, 2, 0, 1);
}
.link-nós:hover{
    text-decoration: none !important;
    background-color: transparent;

}
animation: AnimationName 57s ease infinite;
}

.txt-center{
    text-align: center;
}
.bg-montanha{


    background-position: center;
    background-repeat: no-repeat;

}
#canvas-image {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../imagens/montanha.png);
    background-position-x: 50%;
    background-size: 100%;
}
#gradient
{
    width: 100%;
    height: 800px;
    padding: 0px;
    margin: 0px;
}
.archivo{
    font-family: 'Archivo Black', sans-serif;
}
.line-h{
    line-height: 30px;
}
.btn-product{
	width: 100%;
}
ul > li{margin-right:25px;font-weight:lighter;cursor:pointer}
li.active{border-bottom:3px solid silver;}

.item-photo{display:flex;justify-content:center;align-items:center;border-right:1px solid #f6f6f6;}
.menu-items{list-style-type:none;font-size:11px;display:inline-flex;margin-bottom:0;margin-top:20px}
.btn-success{width:100%;border-radius:0;}
.section{width:100%;margin-left:-15px;padding:2px;padding-left:15px;padding-right:15px;background:#f8f9f9}
.title-price{margin-top:30px;margin-bottom:0;color:black}
.title-attr{margin-top:0;margin-bottom:0;color:black;}
.btn-minus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0;}
.btn-plus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0;}
div.section > div {width:100%;display:inline-flex;}
div.section > div > input {margin:0;padding-left:5px;font-size:10px;padding-right:5px;max-width:18%;text-align:center;}
.attr,.attr2{cursor:pointer;margin-right:5px;height:20px;font-size:10px;padding:2px;border:1px solid gray;border-radius:2px;}
.attr.active,.attr2.active{ border:1px solid orange;}

@media (max-width: 426px) {
    .container {margin-top:0px !important;}
    .container > .row{padding:0 !important;}
    .container > .row > .col-xs-12.col-sm-5{
        padding-right:0 ;    
    }
    .container > .row > .col-xs-12.col-sm-9 > div > p{
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > ul{
        padding-left:10px !important;
        
    }            
    .section{width:104%;}
    .menu-items{padding-left:0;}
}